@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to ColmanGym
    </h1>
    <h3>Your Best Entrance to Your Perfect Body</h3>
    <br />
    <video style="width: 100%; height: auto; border: 2px solid; box-shadow:5px 5px #888888; border-radius: 25px;" controls>
        <source src="@Url.Content("~/films/small-video.mp4")" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <br /><br />
    <div style="column-count: 3;">
        <b>Arnold Schwarzenegger - "I have never been in such a wonderful place like this"</b>
        <br />
        <b>Dwayne "The Rock" Johnson- "The vibe in this place is something different"</b>
        <br />
        <b>Van Damme- "This place made me who i am"</b>
    </div>

</div>


