@inject Microsoft.AspNetCore.Identity.SignInManager<ColmanGym.Areas.Identity.Data.ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavigatePages.IndexNavigateClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavigatePages.ChangePasswordNavigateClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavigatePages.PersonalDataNavigateClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul>
